.DS_Store
node_modules
/dist
backend/unidemo-bod-register/dist/
backend/unidemo-bod-signup/dist/

package-lock.json

# local env files
*.local
*.env


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

