{
  "AWS_PROFILE": "default",
  "AWS_REGION": "us-west-2",
  "ENVIRONMENT": "dev",
  "ISS": "https://dev-12345.oktapreview.com/oauth2/default",
  "AUD": "api://bod.unidemo",
  "API_KEY": "your-okta-api-token-secret",
  "PROSPECT_GROUP_ID": "get-from-okta",
  "CUSTOMER_GROUP_ID": "get-from-okta"
}
